
body{
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 6%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
}
.nav-item {
	margin: 0 2vw;
	color: #f69031;
}

.menuColor:hover {
	border-radius: 0;
	border-bottom: 1.4px solid #f69031;
}
.menuColor2:hover {
	border-radius: 0;
	border-bottom: 1.4px solid #f69031;
}
.menuColor3{
	display: block;
	margin-top: 35px;
	text-decoration: none;
	padding: 5px;
}
.menuColor {
	display: block;
	margin-top: 35px;
	color: #f69031;
	text-decoration: none;
	padding: 5px;
}

/* footer */
.site-footer {
	background-color: #a2a2a243;
	padding: 45px 0 20px;
	font-size: 15px;
	line-height: 24px;
	color: #737373;
}

.site-footer hr {
	border-top-color: #bbb;
	opacity: 0.5
}

.site-footer hr.small {
	margin: 20px 0
}

.site-footer h6 {
	color: #242424;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 5px;
	letter-spacing: 2px
}

.site-footer a {
	color: #737373;
}

.site-footer a:hover {
	color: #3366cc;
	text-decoration: none;
}

.footer-links {
	padding-left: 0;
	list-style: none
}

.footer-links li {
	display: block
}

.footer-links a {
	color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
	color: #f69031;
	text-decoration: none;
}

.footer-links.inline li {
	display: inline-block
}

.site-footer .social-icons {
	text-align: right
}

.site-footer .social-icons a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 6px;
	margin-right: 0;
	border-radius: 100%;
	background-color: #33353d
}

.copyright-text {
	margin: 0
}

@media (max-width:991px) {
	.site-footer [class^=col-] {
		margin-bottom: 30px
	}
}

@media (max-width:767px) {
	.site-footer {
		padding-bottom: 0
	}

	.site-footer .copyright-text,
	.site-footer .social-icons {
		text-align: center
	}
}

.social-icons {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.social-icons li {
	display: inline-block;
	margin-bottom: 4px
}

.social-icons li.title {
	margin-right: 15px;
	text-transform: uppercase;
	color: #96a2b2;
	font-weight: 700;
	font-size: 13px
}

.social-icons a {
	background-color: #eceeef;
	color: #818a91;
	font-size: 16px;
	display: inline-block;
	line-height: 44px;
	width: 44px;
	height: 44px;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
	color: #fff;
	background-color: #29aafe
}

.social-icons.size-sm a {
	line-height: 34px;
	height: 34px;
	width: 34px;
	font-size: 14px
}

.social-icons a.facebook:hover {
	background-color: #3b5998
}

.social-icons a.twitter:hover {
	background-color: #00aced
}

.social-icons a.linkedin:hover {
	background-color: #007bb6
}

.social-icons a.dribbble:hover {
	background-color: #ea4c89
}

@media (max-width:767px) {
	.social-icons li.title {
		display: block;
		margin-right: 0;
		font-weight: 600
	}
}

@media (max-width: 419px) {
	.cr-text-2 {

		line-height: 40%;
	}

	.cr-text {

		line-height: 40%;
	}

	#footer-item {
		text-align: center;
	}

	#footer-item-2 {
		text-align: center;
	}

}

.call-bar {
	position: fixed;
	bottom: 3%;
	left: 1%;
}

.call-bar-div>i {
	position: relative;
	top: 25%;
}







/* main */

.bdy
{
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    top: 9vh;
    margin-bottom: 22vh;

}
.touch
{
    font-size: 2.5rem;
    font-weight: bolder;
    position: relative;
    top: 50px;
    
}
.container-map
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.contact-box1
{
    width: 80vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 10px 10px 20px 20px rgba(230, 230, 230, 100);

 
}
.left1 iframe{
    width: 100vw;
    height: 100vh;
}

.zil
{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;

}
.zil::after{
    content: "";
    position: absolute;
    left: 14%;
    bottom: 0;
    transform: translateX(-50%);
    height: 7px;
    width: 170px;
    border-radius: 30px;
    background-color:#f69134;
}
.field
{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: .5rem 1rem;
    margin-bottom: 22px;
    transform: 3s;
}
.field:hover{
    background-color:rgba(0, 0, 0, 0.1);
}
textarea
{
    min-height: 15px;

}
.btn01
{
    width: 100%;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    background-color: #f69134;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;


}


.btn01:hover{
 background-color: #f69134;
}
.field:focus
{
    border: 2px solid #f69134;
    /* background: #000; */
}

@media screen and (max-width:700px)
{
    .container-box1
    {
        grid-template-columns: 1fr; 
        
    }
    .left1 iframe
    {
        padding: 0px;
        
     }
}
/* .col1{
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 10px;
}
.col12 i{
    font-size: 30px
    
}  */